---
import "@phosphor-icons/web/light";
import "@phosphor-icons/web/bold";
import "@phosphor-icons/web/fill";
import "@fontsource-variable/dm-sans";
import "@fontsource/dm-serif-text";
import "../styles/global.css";

import dmSans from "@fontsource-variable/dm-sans/files/dm-sans-latin-standard-normal.woff2";
import dmSerifText from "@fontsource/dm-serif-text/files/dm-serif-text-latin-400-normal.woff2";
import playfair from "@fontsource-variable/playfair/files/playfair-latin-wght-normal.woff2";
import clsx from "clsx";

const { title, description, bodyClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://www.thekolenkos.com/og.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="preload" as="font" type="font/woff2" href={dmSans} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2s" href={dmSerifText} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={playfair} crossorigin="anonymous" />
    <title>{title}</title>
  </head>
  <body class={clsx(bodyClass || "bg-base-content")}>
    <slot />
  </body>
</html>
